// Typography
$headerFontFamily: 'Noto Serif', serif;
$bodyFontFamily: 'Open Sans', sans-serif;
$fontWeightBold: 700;
$fontWeightNormal: 400;

// Spacing
$contentGap: 25px;
$contentGapSmall: 15px;
$sectionSpacing: 40px;
$sectionSpacingSmall: 25px;

// Colors
$dark-orange: #ee5a24;
$light-orange: #f27e53;
$dark-blue: #003462;
$light-blue: #0068c4;
$dark-green: #285541;
$light-green: #99cfb7;
$gray: #726867;
$light-beige: #e2ded3;
$dark-beige: #c4bba5;
$light-black: #292929;