// Typography
$headerFontFamily: 'Noto Serif', serif;
$bodyFontFamily: 'Open Sans', sans-serif;
$fontWeightBold: 700;
$fontWeightNormal: 400;

// Spacing
$contentGap: 25px;
$sectionSpacing: 50px;

// Colors
$orange: #ee5a24;
$dark-blue: #3f628c;
$light-blue: #80a4c8;
$dark-green: #99cfb7;
$light-green: #c8e0d0;
$gray: #726867;
$light-beige: #e2ded3;
$dark-beige: #c4bba5;
