#footer-container {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	border-top: 1px solid #ccc;

	#footer {
		.footer-top{
			background-color: $dark-orange;
			color: $white;
			.footer-title-location, .footer-title-sitemap{
				font-weight: $fontWeightBold;
				font-size: 20px;
				text-transform: uppercase;
				margin-bottom: 20px;
			}
		}
		.contact-location{
			.location{
				font-family: $headerFontFamily;
				font-weight: $fontWeightBold;
				margin-bottom: 15px;
			}
			.address, .phone{
				font-size: 13px;
				margin-bottom: 10px;
				color: $light-gray;
			}
		}
		.sitemap-column{
			ul{
				list-style-type: none;
				margin: 0;
			}
			.menu{
				text-transform: capitalize;
				&>li{
					font-family: $headerFontFamily;
					font-weight: $fontWeightBold;
					margin-bottom: 15px;
				}
				.submenu{
					li{
						font-size: 13px;
						margin-bottom: 0;
						font-family: $bodyFontFamily;
						font-weight: $fontWeightNormal;
						color: $light-gray;
					}
				}
			}
		}
		.footer-bottom{
			padding: 20px;
			font-size: 12px;
			background-color: $light-gray;
			p{
				display: inline-block;
				margin-bottom: 0;
				font-weight: $fontWeightBold;
			}
			.credit{
				float: right;
			}
		}
	}
}
