#site-navigation{  
    padding: $contentGap 0 0;  
    .logo-wrapper {
        position: relative;

        .logo{
            display: inline-block;
            height: 75px;
            width: 188px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: left center;
            border-right: 2px solid $black;
        }
        .logo-headline{
            display: inline-block;
            text-transform: capitalize;
            font-family: $headerFontFamily;
            font-weight: $fontWeightBold;
            font-size: 16px;
            margin-bottom: 0;
            padding-left: 10px;
            @include vertical-center;
        }
    }
    .menu-top{
        text-align: right;
        position: relative;
        .align-bottom{
            position: absolute;
            right: 0;
            bottom: 0;
        }
        p{
            display: inline-block;
            margin-bottom: 0;
            color: $orange;
            
        }
        .lang-selection{
            padding-left: $contentGap;
            margin-left: $contentGap;
            border-left: 1px solid $black;
            span{
                padding: 0 5px;
            }
        }
    }
    .menu-bottom{
        text-align: center;
        background-color: $light-gray;
        margin-top: $contentGap;
        position: relative;
        .menu{
            display: inline-block;
            margin: 0;
            list-style-type: none;
            margin: 0;
            height: 40px;
            line-height: 40px;
            &>li{
                display: inline-block;
                text-transform: capitalize;
                font-family: $headerFontFamily;
                font-size: 18px;
                &>a{
                    color: $black;
                    padding: 11px $contentGap;
                    vertical-align: center;
                }
                &:hover{
                    background-color: $orange;
                    &>a{
                        color: $white;
                    }
                }
            }
            .active{
                background-color: $orange;
                &>a{
                    color: $white;
                }
            }
        }
        &:before{
            content:" ";
            position: absolute;
            background-color: $light-gray;
            top: 0;
            bottom: 0;
            right: 100%;
            width: 900px;
        }
        &:after{
            content:" ";
            position: absolute;
            background-color: $light-gray;
            top: 0;
            bottom: 0;
            left: 100%;
            width: 900px;
        }
    }
}