body{
	background: url('../placeholder_images/bg-pattern.png');
	-webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    overflow: auto;
    color: $light-black;

}
.panel{
	padding: $sectionSpacing 0;
}
h1, h2 ,h3{
	font-family: $headerFontFamily;
}
h1{
	font-weight: $fontWeightBold;
	margin-bottom: 30px;
}
p{
	margin-bottom: $contentGap;
}
.site-layout{
	max-width: 1400px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	background-color: $white;
}
.center-container{
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}
.center-content {
  display: table-cell;
  text-align: center!important;
  vertical-align: middle;
}
.btn{
	display: inline-block;
	padding: 10px 20px;
	background-color: $white;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: $fontWeightBold;
	transition: all 0.5s ease;
	color: $dark-orange;
	border: 1px solid $dark-orange;
	&:hover{
		color: $white;
		background-color: $dark-orange;
		border-color: $dark-orange;
	}
}
.btn.btn-blue{
	border: none;
	background-color: $light-blue;
	color: $white;
	&:hover{
		color: $light-blue;
		background-color: $white;
	}
}
.btn.btn-orange{
	border: none;
	background-color: $light-orange;
	color: $white;
	&:hover{
		color: $light-orange;
		background-color: $white;
	}
}
.section-title{
	text-align: center;
	position: relative;
	text-transform: capitalize;
	&:after{
		content:'';
	    position:absolute;
	    width:100px;
	    height:1px;
	    background: $gray;
	    bottom:-10px;
	    left:0;
	    right:0;
	    margin:auto;
	}
}
.image-container{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	.overlay{
		width: 100%;
		height: 100%;
	}
}
.no-padding-medium-up{
	@include breakpoint (medium up){
		padding: 0!important;
	}
}
.gradient{
	&.ltr{
		background: linear-gradient(270deg, #ee5a24, #ffffff, #003462);
	}
	&.rtl{
		background: linear-gradient(270deg, #003462, #ffffff, #ee5a24);
	}
	background-size: 600% 600%;
	height: 3px;
	
	animation: animated-gradient 18s ease infinite;

	@-webkit-keyframes animated-gradient {
	    0%{background-position:0% 50%}
	    50%{background-position:100% 50%}
	    100%{background-position:0% 50%}
	}
	@-moz-keyframes animated-gradient {
	    0%{background-position:0% 50%}
	    50%{background-position:100% 50%}
	    100%{background-position:0% 50%}
	}
	@keyframes animated-gradient { 
	    0%{background-position:0% 50%}
	    50%{background-position:100% 50%}
	    100%{background-position:0% 50%}
	}
}
// *1 Home Page

// Slider
.homepage-slider{
	.slider-content{
		height: 500px;
		background-size: cover;
		background-repeat: no-repeat;

	}
}

.about{
	h1{
		a{
			transition: all 0.5s ease;
			color: $dark-blue;
		}
		span{
			transition: all 0.5s ease;
			color: $dark-orange;
		}
		&:hover{
			a{
				color: $dark-orange;
			}
			span{
				color: $dark-blue;
			}
		}
	}
	.headline{
		font-size: 25px;
		color: $dark-orange;
		line-height: 1.0;
	}
	.value{
		.image-container{
			height: 200px;
			border: 3px solid $dark-gray;
			margin-bottom: $contentGap;
			.overlay{
				transition: all 0.5s ease;
				background-color: rgba(0,0,0,0.6);
			}
			h2{
				@include absolute-center;
				transition: all 0.5s ease;
				color: $white;
				font-weight: $fontWeightBold;
				margin-bottom: 0;
				text-transform: uppercase;
			}
		}
		.text-container	{
			padding: 0 20px;
			p{
				margin-bottom: 10px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		&:hover{
			.overlay{
				background-color: rgba(255,255,255,0.6);
			}
			h2{
				color: $dark-blue;
			}
		}
	}
}

// Latest
.latest{
	padding-bottom: 0;
	background-color: $light-gray;
	h1{
		color: $dark-blue;
	}
	span{
		color: $dark-orange;
	}
	.image-container{
		height: 300px;
		overflow: hidden;
		.overlay{
			background-color: rgba(0,0,0,0.5);
			position: relative;
			transition: all .25s ease;
			h2{
				@include absolute-center;
				transition: all 0.5s ease;
				font-weight: $fontWeightBold;
				margin-bottom: 0;
				text-transform: uppercase;
				a{
					color: $white;
				}
			}
		}
		&:hover{
			.overlay{
				opacity: 0;
			}
			.info-box{
				top: 0;
			}
		}
	}
	.info-box-container{
		bottom: 0;
	    position: absolute;
	    width: 100%;
	    z-index: 3;
	    height: 220px;
	    .info-box{
	    	z-index: 3;
		    transition: all .25s ease;
		    position: relative;
		    top: 220px;
		    height: 220px; 
		    padding: 20px 20px 0;
		    color: $white;
		    text-align: center;
		    &.blue{
				background-color: rgba(0,51,98,0.9);
		    }
		    &.orange{
		    	background-color: rgba(238,90,36,0.9);
		    }
	    }
	    h2{
	    	font-weight: $fontWeightBold;
			text-transform: uppercase;
			margin-bottom: 30px;
			position: relative;
			&:after{
				content:'';
			    position:absolute;
			    width:200px;
			    height:1px;
			    background: $white;
			    bottom:-15px;
			    left:0;
			    right:0;
			    margin:auto;
			}
	    }
	    .btn-container{
	    	position: absolute;
	    	bottom: 0;
	    	left: 0;
	    	right: 0;
	    }
	}

}


// SSAP
.ssap{
	.grid-container{
		.grid-item{
			width: 50%;
			display: inline-block;
			float: left;
			background-size: cover;
			background-repeat: no-repeat;
			.overlay{
				width: 100%;
				height: 100%;
				position: relative;
				transition: all 0.5s ease;
				h3, p{
					position: absolute;
					@include absolute-center;
					color: #3d3d3d;
					text-transform: capitalize;
				    font-weight: $fontWeightBold;
				    text-align: center;
				    font-size: 24px;
				}
				.cta-text{
					display:none;
					text-transform: uppercase;
				}
				&:hover{
					.cta-text{
						display: block;
						color: $white;
						font-size: 18px;
					}
					.title{
						display: none;
					}
				}
			}
		}
		.school{
			.overlay{
				background-color: rgba(128,164,200,0.6);
				&:hover{
					background-color: rgba(63,98,140,0.95);
				}
			}
		}
		.homestay{
			.overlay{
				background-color: rgba(226, 222, 211,0.6);
					&:hover{
						background-color: rgba(196, 187, 165,0.95);
					}
			}
		}
		.management{
			.overlay{	
				background-color: rgba(200, 224, 208,0.6);
				&:hover{
					background-color: rgba(153, 207, 183,0.95);
				}
			}
		}
		.education{
			.overlay{	
				background-color: rgba(242, 126, 83,0.6);
				&:hover{
					background-color: rgba(238, 90, 36,0.95);
				}
			}
		}
	}
	.ssap-title{
		width: 100%;
		height: 100%;
		position: relative;
		&>div{
			@include absolute-center;
			width: 100%;
			padding: 0 $sectionSpacing;
			
		}
	}	
}
// Model
