/*
================
/* *General
/* *Home Page
/* *FAQ
/* *Contact
/* *About
/* *Default Page
/* *Gallery
/* *Testimonial

*/


/* *General */
body{
	-webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    overflow: auto;
    color: $light-black;
	@include breakpoint (small only) {
		font-size: 14px;
		line-height: 1.7
	}
}
.off-canvas-wrapper{
}
.remove-overlay{opacity:0!important}
:focus {outline:none;}
.panel{
	padding: $sectionSpacing 0;
	@include breakpoint (small only) {
		padding: $sectionSpacingSmall 0;
	}
}
h1, h2 ,h3{
	font-family: $headerFontFamily;
}
h1{
	font-weight: $fontWeightBold;
	margin-bottom: 30px;
}
p{
	margin-bottom: $contentGapSmall;
	@include breakpoint (medium) {
		margin-bottom: $contentGap;
	}
}
a{
	color: $light-blue;
	&:hover{
		color: $light-orange;
	}
}
.site-layout{
	max-width: 1400px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	background-color: $white;
}
.center-container{
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}
.center-content {
  display: table-cell;
  text-align: center!important;
  vertical-align: middle;
}
.btn{
	display: inline-block;
	padding: 10px 20px;
	background-color: $white;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: $fontWeightBold;
	transition: all 0.5s ease;
	color: $dark-orange;
	border: 1px solid $light-black;
	@include breakpoint (small only) {
		font-size: 16px;
	}
	&:hover{
		color: $white;
		background-color: $dark-orange;
		border-color: $dark-orange;
	}
}
.btn.btn-blue{
	border: none;
	background-color: $light-blue;
	color: $white;
	&:hover{
		color: $light-blue;
		background-color: $white;
	}
}
.btn.btn-orange{
	border: none;
	background-color: $light-orange;
	color: $white;
	&:hover{
		color: $light-orange;
		background-color: $white;
	}
}
.alignleft{
	padding:  10px 10px 10px 0;
}
.alignright{
	padding:  10px 0 10px 10px;
}
.aligncenter{
	margin: 10px auto;
}
.alignnone{
	margin: 10px 0;
}
.section-title{
	text-align: center;
	position: relative;
	text-transform: capitalize;
	&:after{
		content:'';
	    position:absolute;
	    width:100px;
	    height:1px;
	    background: $gray;
	    bottom:-10px;
	    left:0;
	    right:0;
	    margin:auto;
	}
}
.image-container{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	.overlay{
		width: 100%;
		height: 100%;
	}
}
.no-padding-medium-up{
	@include breakpoint (medium up){
		padding: 0!important;
	}
}
.gradient{
	height: 3px;

	-webkit-animation: animated-gradient 12s ease infinite;
	-moz-animation: animated-gradient 12s ease infinite;
	-o-animation: animated-gradient 12s ease infinite;
	animation: animated-gradient 12s ease infinite;

	@-webkit-keyframes animated-gradient {
	    0%{background-position:0% 50%}
	    50%{background-position:100% 50%}
	    100%{background-position:0% 50%}
	}
	@-moz-keyframes animated-gradient {
	    0%{background-position:0% 50%}
	    50%{background-position:100% 50%}
	    100%{background-position:0% 50%}
	}
	@-o-keyframes animated-gradient {
	    0%{background-position:0% 50%}
	    50%{background-position:100% 50%}
	    100%{background-position:0% 50%}
	}
	@keyframes animated-gradient { 
	    0%{background-position:0% 50%}
	    50%{background-position:100% 50%}
	    100%{background-position:0% 50%}
	}
	&.ltr{
		background: linear-gradient(270deg, #ee5a24, #ffffff, #003462);
		background-size: 600%;
	}
	&.rtl{
		background: linear-gradient(270deg, #003462, #ffffff, #ee5a24);
		background-size: 600%;
	}
}
.headline{
	font-size: 20px;
	font-style: italic;
	line-height: 1.0;
	@include breakpoint (small only) {
		font-size: 18px;
	}
	span{
		color: $dark-orange;
	}
}
.title-section{
	h1{
		color: $dark-blue;
		line-height: 1.0;
		position: relative;
		&:after{
			content: '';
		    position: absolute;
		    width: 200px;
		    height: 2px;
		    background: $light-orange;
		    bottom: -10px;
		    left: 0;
		    margin: auto;
		}
	}
	.intro-content{
		p{
			margin-bottom: 0;
			color: $dark-gray;
			font-weight: $fontWeightBold;
		}
	}
}
.notification-section{
	position: relative;
	border-radius: 20px;
	background-color: $dark-orange;
	color: $white;
	padding: $contentGapSmall;
	@include breakpoint (medium) {
		padding: $contentGap;
	}
	@include breakpoint (small only) {
		margin-top: $sectionSpacingSmall;
	}
	i{
		color: #ffcb05;
		font-size: 24px;
		margin-bottom: 10px;
		@include breakpoint (medium) {
			font-size: 30px;
		}
		@include breakpoint (small only) {
			position: absolute;
			top: $contentGapSmall;
			left: $contentGapSmall;
		}
	}
	.title{
		font-weight: $fontWeightBold;
		font-size: 17px;
		margin-bottom: 5px!important;
		@include breakpoint (medium) {
			font-size: 19px;
		}
	}
	p{
		margin-bottom: 0;
		@include breakpoint (small only) {
			padding-left: 50px;
		}
	}
}
/* *Home Page */
// Slider
.homepage-slider{
	@include breakpoint (medium) {
		margin-bottom: 0!important;
	}
	.slider-row{
		max-width: none!important;
	}
	.slider-content{
		.school{
			height: 200px;
			@include breakpoint (medium) {
		    	height: 350px
		    }
			@include breakpoint (large) {
		    	height: 400px
		    }
		}
	}
	.personal-quote-container{
		position: relative;
		height: 300px;
		@include breakpoint (medium) {
	    	height: 350px;
	    }
		@include breakpoint (large) {
	    	height: 400px
	    }
	}
	.personal-quote{
		@include vertical-center;
		padding: 0 $contentGapSmall;
		@include breakpoint (large) {
	    	padding: 0 $contentGap;
	    }
		.portrait{
			display: block;
		    width: 150px;
		    border-radius: 50%;
		    margin-left: 30px;
		    border: 3px solid $dark-gray;
		    @include breakpoint (medium down) {
		    	width: 120px;
		    	margin: 0 auto;
		    }
		}
		p{
			padding-left: 30px;
			margin-bottom: 0;
		}
		.quote{
			font-family: $headerFontFamily;
			font-style: italic;
			color: $dark-gray;
			margin: 20px 0;
			position: relative;
			@include breakpoint (medium down) {
		    	font-size: 14px;
		    }
			&:before{
				font-family: FontAwesome;
				content: '\f10d';
				color: $dark-orange;
				font-size: 18px;
				position: absolute;
				left: 0; top: 0;
			}		
		}
		.name{
			color: $dark-orange;
			font-family: $headerFontFamily;
			font-weight: $fontWeightBold;
			text-transform: capitalize;
			@include breakpoint (medium down) {
		    	font-size: 14px;
		    }
		    @include breakpoint (small only) {
		    	text-align: center;
		    }
		}
		.titles{
			color: $light-black;
			font-weight: $fontWeightBold;
			font-size: 14px;
			@include breakpoint (medium down) {
		    	font-size: 12px;
		    }
		    @include breakpoint (small only) {
		    	text-align: center;
		    }
		}
	}
	.slick-dots{
		display: inline-block!important;
		width: auto!important;
		left: $contentGap;
		bottom: $contentGap;
		@include breakpoint (small only) {
			bottom: auto;
			left: $contentGapSmall;
			top: $contentGapSmall;
			li{
				display: block;
			}
		}
	}
}

.about{
	@include breakpoint (medium down) {
		padding-bottom: 0;
	}
	h1{
		a{
			transition: all 0.5s ease;
			color: $dark-blue;
		}
		&:hover{
			a{
				color: $dark-orange;
			}
	
		}
	}
	.value{
		@include breakpoint (medium down) {
			margin-bottom: $contentGapSmall;
			padding-bottom: $contentGapSmall;
			border-bottom: 2px solid $light-gray;
		}
		position: relative;
		.image-container{
			height: 200px;
			border: 3px solid $dark-gray;
			margin-bottom: $contentGap;
			@include breakpoint (small only) {
				height: 170px;
				margin-bottom: $contentGapSmall;
			}
			@include breakpoint (medium only) {
				width: 50%;
				display: inline-block;
				margin-bottom: 0;
				@include vertical-center;
			}
			.overlay{
				transition: all 0.5s ease;
				background-color: rgba(255,255,255,0.4);
			}
			h2{
				@include absolute-center;
				transition: all 0.5s ease;
				color: $light-black;
				font-weight: $fontWeightBold;
				margin-bottom: 0;
				text-transform: uppercase;
				text-align: center;
			}
		}
		.text-container	{
			padding: 0 20px;
			@include breakpoint (medium only) {
				width: 50%;
				display: inline-block;
				float: right;
			}
			p{
				line-height: 1.5;
				margin-bottom: 10px;
				font-size: 15px;
				@include breakpoint (small only) {
					font-size: 13px;
				}
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		&:hover{
			.overlay{
				background-color: rgba(255,255,255,0.6);
			}
			h2{
				color: $dark-blue;
			}
		}
	}
}

// Latest
.latest{
	padding-bottom: 0;
	background-color: $light-gray;
	h1{
		color: $dark-blue;
	}
	span{
		color: $dark-orange;
	}
	.image-container-wrapper{
		overflow: hidden;
		position: relative;
		.image-container{
			height: 200px;
		    @include breakpoint (large) {
		    	height: 300px
		    }
		}
		.overlay{
			background-color: rgba(0,0,0,0.4);
			position: relative;
			transition: all .25s ease;
			@include breakpoint (large) {
				background-color: rgba(0,0,0,0.1);
			}
			h2{
				@include absolute-center;
				transition: all 0.5s ease;
				font-weight: $fontWeightBold;
				margin-bottom: 0;
				text-transform: uppercase;
				color: $white;
				@include breakpoint (medium down){
					display: none;
				}
				a{
					color: $white;
				}
			}
		}
		&:hover{
			@include breakpoint (large) {
				.overlay{
					opacity: 0.4;
				}
				.info-box-container{
					border-left: 1px solid $dark-blue;
					border-right: 1px solid $dark-blue;
				}
				.info-box{
					top: 0;
				}
			}
		}
	}
	.info-box-container{
		bottom: 0;
	    position: absolute;
	    width: 100%;
	    z-index: 3;
	    height: 200px;
	    @include breakpoint (large) {
	    	height: 220px;
	    }
	    .info-box{
	    	z-index: 3;
		    transition: all .25s ease;
		    position: relative;
		    top: 0;
		    height: 200px; 
		    padding: 20px 20px 0;
		    background-color: transparent;
		    color: $white;
		    text-align: center;
		    @include breakpoint (large) {
		    	top: 220px;
		    	height: 220px; 
		    	background-color: #E5E5E5;
		    	color: $light-black;
		    }
	    }
	    h2{
	    	font-weight: $fontWeightBold;
			text-transform: uppercase;
			margin-bottom: 30px;
			position: relative;
			a{
				color: $white;
				@include breakpoint (large) {
					color: $light-black;
				}
			}
			&:after{
				content:'';
			    position:absolute;
			    width:200px;
			    height:1px;
			    background: $white;
			    bottom:-15px;
			    left:0;
			    right:0;
			    margin:auto;
			}
	    }
	    .btn-container{
	    	position: absolute;
	    	bottom: 0;
	    	left: 0;
	    	right: 0;
	    }
	}

}


// SSAP
.ssap{
	.grid-container{
		.grid-item{
			width: 50%;
			display: inline-block;
			float: left;
			background-size: cover;
			background-repeat: no-repeat;
			.overlay{
				width: 100%;
				height: 100%;
				position: relative;
				transition: all 0.5s ease;
				h3, p{
					position: absolute;
					@include absolute-center;
					color: #3d3d3d;
					text-transform: capitalize;
				    font-weight: $fontWeightBold;
				    text-align: center;
				    font-size: 24px;
				}
				.cta-text{
					display:none;
					text-transform: uppercase;
				}
				&:hover{
					.cta-text{
						display: block;
						color: $white;
						font-size: 18px;
					}
					.title{
						display: none;
					}
				}
			}
		}
		.school{
			.overlay{
				background-color: rgba(128,164,200,0.6);
				&:hover{
					background-color: rgba(63,98,140,0.95);
				}
			}
		}
		.homestay{
			.overlay{
				background-color: rgba(226, 222, 211,0.6);
					&:hover{
						background-color: rgba(196, 187, 165,0.95);
					}
			}
		}
		.management{
			.overlay{	
				background-color: rgba(200, 224, 208,0.6);
				&:hover{
					background-color: rgba(153, 207, 183,0.95);
				}
			}
		}
		.education{
			.overlay{	
				background-color: rgba(242, 126, 83,0.6);
				&:hover{
					background-color: rgba(238, 90, 36,0.95);
				}
			}
		}
	}
	.ssap-title{
		width: 100%;
		height: 100%;
		position: relative;
		&>div{
			@include absolute-center;
			width: 100%;
			padding: 0 $sectionSpacing;
			
		}
	}	
}
/* *FAQ */
.page-template-faq{
	.faq-page-content{
		margin-bottom: $sectionSpacingSmall;
		@include breakpoint (medium) {
			margin-bottom: $sectionSpacing;
		}
	}
	.accordion-item{
	    border: 2px solid $light-gray;
	    border-radius: 10px;
	    position: relative;
	    padding: $contentGapSmall;
	    margin-bottom: $contentGapSmall;
	    @include breakpoint (medium) {
	    	padding: $contentGap;
	    	margin-bottom: $contentGap;
	    }
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.accordion-title{
		display: block;
	    color: $light-blue;
	    margin-bottom: 0;
	    position: relative;
	    text-transform: capitalize;
	    padding: 0 40px 0 0;
	    font-weight: 400;
	    font-style: normal;
	    border: none!important;
	    line-height: 1.2;
	    font-size: 16px;
	    @include breakpoint (medium) {
	    	font-size: 18px;
	    }
	    &:hover, &:focus{
	    	background-color: transparent;
	    }
	}
	.accordion-content{
		margin-top: 10px;
		border: none;
		border-bottom: none!important;
		border-top: 1px solid $light-orange;
		padding: 10px 0 0;
		color: $light-black;
	}
}
/* *Contact */
.page-template-contact{
	.wpcf7-form{
		position: relative;
		max-width: 350px;
		@include breakpoint (small only) {
			max-width: none;
		}
		label{
			display: block;
			margin-bottom: 5px;
			font-weight: $fontWeightBold;
			span{
				color: $dark-orange;
			}
		}
		.wpcf7-form-control-wrap{
			display: block;
		}
		input, textarea{
			border: none;
			background-color: $medium-gray;
			padding: 10px;
			font-size: 15px;
			width: 100%;
			&.wpcf7-not-valid{
				background-color: $light-orange;
			}
		}
		input{
			height: 30px;
			@include breakpoint (medium) {
				height: 40px;
			}
		}
		input[type=submit]{
			display: inline-block;
			padding: 0 20px;
			background-color: $white;
			width: auto;
			font-size: 18px;
			text-transform: uppercase;
			font-weight: $fontWeightBold;
			transition: all 0.5s ease;
			color: $dark-orange;
			border: 1px solid $dark-orange;
			@include breakpoint (small only) {
				font-size: 16px;
			}
			&:hover{
				color: $white;
				background-color: $dark-orange;
				border-color: $dark-orange;
			}
		}
		textarea{
			height: 120px;
		}
		span.wpcf7-not-valid-tip{
			display: none!important;
		}
		.wpcf7-response-output{
			display: none!important;
		}
		.note{
			position: absolute;
			bottom: 0;
			right: 0;
			font-size: 12px;
			margin-bottom: 0;
			span{
				color: $dark-orange;
			}
		}
	}
	.social-media{
		margin-bottom: 0;
		i{
			margin: 10px;
			font-size: 20px;
		}
	}
	.contact-section{
		p:last-child{
			margin-bottom: 0;
		}
	}
	.contact-page-content{
		padding-bottom: $sectionSpacing;
		@include breakpoint (small only) {
			padding-bottom: $sectionSpacingSmall;
		}
	}
}

/* *About */
.page-template-about{
	.principal-section{
		padding-bottom: $sectionSpacing;
		@include breakpoint (small only) {
			padding-bottom: $sectionSpacingSmall;
		}
	}
	h2{
		margin-bottom: $contentGapSmall;
	    @include breakpoint (medium) {
	    	margin-bottom: $contentGap;
	    }
	}
	.principal{
		@include breakpoint (small only) {
			margin: 10px;
		}
		img{
			width: 200px;
			border-radius: 50%;
		    border: 5px solid $dark-gray;
		    margin-bottom: $contentGapSmall;
		    @include breakpoint (medium) {
		    	margin-bottom: $contentGap;
		    }
		}
		.name{
			padding-left: 20px;
			margin-bottom: 0;
			color: $dark-orange;
			font-family: $headerFontFamily;
			font-weight: $fontWeightBold;
		}
		.title{
			padding-left: 20px;
			font-weight: $fontWeightBold;
			font-size: 12px;
			@include breakpoint (medium) {
		    	font-size: 14px;
		    }
		}
		.message{
			padding-left: 20px;
			margin-bottom: 0;
			position: relative;
			&:before{
				font-family: FontAwesome;
				content: '\f10d';
				color: $dark-orange;
				font-size: 12px;
				position: absolute;
				left: 0; top: 0;
			}	
		}

	}
}
/* *Default Page */
.page-template-default, .page-template-ssap {
	.content-section{
		p:last-child{
			margin-bottom: 0;
		}
	}
	#page{
		padding-bottom: $sectionSpacing;
		@include breakpoint (small only) {
			padding-bottom: $sectionSpacingSmall;
		}
	}
}

/* *Single Gallery */
.single-gallery {
	.gallery-content{
		padding-bottom: $sectionSpacing;
		@include breakpoint (small only) {
			padding-bottom: $sectionSpacingSmall;
		}
		.gallery-image{
			display: block;
			margin-bottom: 20px;
			@include breakpoint (medium) {
				margin-bottom: 30px;
			}
		}
	}
}

/* *Gallery Archive */
.page-template-gallery{
	.gallery{
		display: block;
		background-color: $light-gray;
		margin-bottom: $sectionSpacingSmall;
		@include breakpoint (medium) {
			margin-bottom: $sectionSpacing;
		}
		.image-container{
			display: block;
			@include breakpoint (small only) {
				height: 200px!important;
			}
		}
		.gallery-info{
			padding: $contentGapSmall;
			h3{
				font-weight: $fontWeightBold;
				margin-bottom: 10px;
				color: $light-black;
			}
			p{
				color: $light-black;
			}
			.btn{
				@include breakpoint (medium down) {
					padding: 5px 10px;
					font-size: 15px;
				}
			}
		}
	}
}

/* *Testimonial */
.testimonial-page-content{
	padding-bottom: $sectionSpacing;
	@include breakpoint (small only) {
		padding-bottom: $sectionSpacingSmall;
	}
	.testimonial{
		margin-bottom: $contentGapSmall;
		@include breakpoint (medium) {
			margin-bottom: $contentGap;
		}
		&:last-child{
			margin-bottom: 0;
		}
		.date{
			color: $dark-blue;
			margin-bottom: 0;
			font-family: $headerFontFamily;
			font-weight: $fontWeightBold;
		}
		p:not(.date){
			color: $dark-gray;
			font-weight: $fontWeightBold;
		}
	}
}